name: Submission workflow

### 
# - parse issue
# - get repository link
# - clone repo
# - install deps
# - run tests, lint, coverage
# - if success:
# -- comment of success
# -- create PR with change to readme
# -- link pr to issue
# - if something went wrong:
# -- create an issue in a repo
# -- comment in issue about error and link new issue

on:
  issues:
    types: [opened, edited]

jobs:
  
  parse-issue:
    if: ${{ startsWith(github.event.issue.title, '[Submission]:') }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7]
    steps:
      - name: generate FOO unique variable based on timestamp
        run: echo TIMESTAMP=$(date +%s) >> $GITHUB_ENV
      - name: Get $github data
        run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
      - name: Parse submission details
        id: parse-issue
        run: |
          echo 1
          echo '::set-output name=SUBMISSION_REPO::https://github.com/Qiskit/qiskit-terra.git'
          echo '::set-output name=SUBMISSION_NAME::qiskit-terra'
          echo '::set-output name=SUBMISSION_DESCRIPTION::Terra'
      # - name: clone repo
      #   run: |
      #     git clone ${{ steps.parse-issue.outputs.SUBMISSION_REPO }}"
      #     cd ${{ steps.parse-issue.outputs.SUBMISSION_NAME }}"
      # - name: install deps
      #   run: |
      #     pip install -r requirements.txt
      # - name: run tests
      #   run: |
      #     pip install pytest
      #     pytest
      - uses: actions/checkout@v2
        if: ${{ success() }}

      - name: Install dependencies
        if: ${{ success() }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Update readme
        if: ${{ success() }}
        run: |
          python manager.py add_repo --repo_link=${{ steps.parse-issue.outputs.SUBMISSION_REPO }} --repo_author=${{ github.event.issue.user.html_url }} --repo_description=${{ steps.parse-issue.outputs.SUBMISSION_DESCRIPTION }}
          python manager.py generate_readme

      - name: Commit and push changes
        if: ${{ success() }}
        run: |
          git config --global user.name "your username"
          git config --global user.email "your email"

          git checkout -b submission-${{ github.event.issue.number }}-${{ env.TIMESTAMP }}

          git add -A
          git commit -m "Adding ${{ steps.parse-issue.outputs.SUBMISSION_NAME }}"
          git push --set-upstream origin submission-2

      - name: Create Pull Request
        if: ${{ success() }}
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Add [${{ steps.parse-issue.outputs.SUBMISSION_REPO }}] to list.
          title: Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
          branch: submission-${{ github.event.issue.number }}
          base: main

      - name: Create comment
        if: ${{ success() }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            This is a multi-line test comment on successfull submission! :sparkles:

            Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}
