name: Submission workflow

### 
# - parse issue
# - get repository link
# - clone repo
# - install deps
# - run tests, lint, coverage
# - if success:
# -- comment of success
# -- create PR with change to readme
# -- link pr to issue
# - if something went wrong:
# -- create an issue in a repo
# -- comment in issue about error and link new issue

on:
  issues:
    types: [opened, edited]

jobs:
  
  parse-issue:
    if: ${{ startsWith(github.event.issue.title, '[Submission]:') }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7]
    steps:
      - name: generate timestamp variable
        run: echo TIMESTAMP=$(date +%s) >> $GITHUB_ENV

      - name: Get $github data
        run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}

      - uses: actions/checkout@v2
        if: ${{ success() }}

      - name: Install dependencies
        if: ${{ success() }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Parse submission details
        id: parse-issue
        run: |
          python manager.py parse_issue_body --body=${{ github.event.issue.body }}

      - name: Clone submitted repo
        run: |
          mkdir testing-${{ env.TIMESTAMP }}
          cd testing-${{ env.TIMESTAMP }}
          git clone ${{ steps.parse-issue.outputs.SUBMISSION_REPO }}
          cd ${{ steps.parse-issue.outputs.SUBMISSION_NAME }}

      - name: Install submitted deps
        run: |
          cd testing-${{ env.TIMESTAMP }}/${{ steps.parse-issue.outputs.SUBMISSION_NAME }}
          python3 -m venv ./env-${{ env.TIMESTAMP }}
          source env-${{ env.TIMESTAMP }}/bin/activate
          python -m pip install --upgrade pip
          cat requirements.txt
          pip install -r requirements.txt

      - name: Test submitted deps
        run: |
          cd testing-${{ env.TIMESTAMP }}/${{ steps.parse-issue.outputs.SUBMISSION_NAME }}
          source env-${{ env.TIMESTAMP }}/bin/activate
          pip install pytest
          pytest

      - name: Cleanup submitted repo
        run: |
          cd testing-${{ env.TIMESTAMP }}/${{ steps.parse-issue.outputs.SUBMISSION_NAME }}
          source env-${{ env.TIMESTAMP }}/bin/activate
          deactivate
          cd ../../
          rm -rf testing-${{ env.TIMESTAMP }}

      - name: Update readme
        if: ${{ success() }}
        run: |
          python manager.py add_repo --repo_link=${{ steps.parse-issue.outputs.SUBMISSION_REPO }} --repo_author=${{ github.event.issue.user.html_url }} --repo_description=${{ steps.parse-issue.outputs.SUBMISSION_DESCRIPTION }}
          python manager.py generate_readme

      - name: Commit changes and create Pull Request
        if: ${{ success() }}
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Submission - Add ${{ steps.parse-issue.outputs.SUBMISSION_REPO }} to list.
          title: Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
          body: |
            Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.

            Closes #${{ github.event.issue.number }}
          branch: submission-${{ github.event.issue.number }}-${{ env.TIMESTAMP }}
          base: main

      - name: Create comment
        if: ${{ success() }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Successfull submission! :sparkles: PR #${{ steps.cpr.outputs.pull-request-number }}
