name: Submission workflow

### 
# - parse issue
# - get repository link
# - clone repo
# - install deps
# - run tests, lint, coverage
# - if success:
# -- comment of success
# -- create PR with change to readme
# -- link pr to issue
# - if something went wrong:
# -- create an issue in a repo
# -- comment in issue about error and link new issue

on:
  issues:
    types: [opened, edited]

jobs:
  
  parse-issue:
    if: ${{ startsWith(github.event.issue.title, '[Submission]:') }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7]
    steps:
      - name: Get $github data
        run:   echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
